{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9 list-group">

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li class="list-group-item">
          <div class="row">
            <img class='col-md-4 profile-img' src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg">
            <h4 class='col-md-6'><a href="/users/{{tweet.name}}">{{tweet.name}}</a></h4>
          </div>
          <a href="/tweets/{{tweet.id}}"><div class='tweet'>{{tweet.content}}</div></a>
        </li>
      {% endfor %}

    </div>
  </div>

{% endblock %}
